<div class="row">

<div class="col-md-4">

</div>

<div class="col-md-4 displayArticle">
  {{#link-to 'article' article.id}}<h3>{{article.seed}}</h3>{{/link-to}}
</div>
<div class="col-md-4">

</div>
</div>
