<div class="container-fluid navbar">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'archive'}}Archive{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class= "container">
  {{#link-to "index"}}
  <header class= "jumbotron">
    <h1>Hustle</h1>
  </header>
  {{/link-to}}
    {{outlet}}
  <hr>
  <footer>
    lol so random XD
  </footer>
</div>
